<mat-card>
  <div class="header">
    <span class="title"><b>{{club?.name}}</b></span>
    <span class="sport">{{club?.sport}}</span>
  </div>
  <div class="subheader">
    {{club?.distance}} {{ 'club_data_distance_title' | translator}}
  </div>
  <div #imageWrapper class="images"></div>
</mat-card>