:host() {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
}

.title {
    font-size: 1.2em;
}

.header {
    display: flex;
    justify-content: space-between;
}

.sport {
    font-size: .9em;
    border-radius: 16px;
    background-color: lightgray;
    font-weight: 500;
    padding: 2px 8px;
}

.subheader {
    color: gray;
}