.current-input {
    position: relative;
    border: 1px lightgray solid;
    border-radius: 8px;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.current-input > input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.image-preview {
    position: relative;
    width: 200px;
    height: 150px;
    border: 1px lightgray solid;
    border-radius: 8px;
    margin: 4px;
}

.image-preview > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-preview > button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.previews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}