<div class="previews">
  <div class="image-preview" *ngFor="let path of imagePaths; let i = index">
    <button mat-mini-fab color="warn" (click)="deleteImage(i)"><mat-icon>delete</mat-icon></button>
    <img [src]="path">
  </div>
  <div class="current-input">
    <button mat-fab><mat-icon>add</mat-icon></button>
    <input class="current-input" type="file" multiple (input)="onValueChange($event)">
  </div>
</div>