<div class="narrow-content">

  <mat-tab-group mat-stretch-tabs disablePagination=true class="mat-elevation-z1">

    <!-- Tab for user signup -->
    <mat-tab label="{{'signup_user_tab_title' | translator}}">
      <div class="form-row">
        <mat-form-field appearance="standard">
          <mat-label>[Email]</mat-label>
          <input matInput placeholder="Placeholder">
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="standard">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="passwordHidden ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="passwordHidden = !passwordHidden">
          <mat-icon>{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-tab>

    <!-- Tab for club signup -->
    <mat-tab label="{{'signup_club_tab_title' | translator}}">
      <mat-vertical-stepper [linear]="true" #stepper>

        <mat-step [stepControl]="clubUserForm">
          <ng-template matStepLabel>{{"signup_club_login_data_header" | translator}}</ng-template>

          <!-- Email address and password fields for user creation -->
          <form [formGroup]="clubUserForm" (ngSubmit)="onSubmitClubUser()">
            <div class="form-row">
              <mat-form-field appearance="standard">
                <mat-label>{{"signup_email_label" | translator}}</mat-label>
                <input matInput formControlName="email" type="email" required>
              </mat-form-field>
            </div>            
            <div class="form-row">
              <mat-form-field appearance="standard">
                <mat-label>{{"signup_password_label" | translator}}</mat-label>
                <input matInput [type]="passwordHidden ? 'password' : 'text'" formControlName="password" required>
                <button type="button" mat-icon-button matSuffix (click)="passwordHidden = !passwordHidden">
                <mat-icon>{{passwordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <button mat-button matStepperNext>{{"signup_next_button_title" | translator}}</button>
          </form>
        </mat-step>

        <mat-step [stepControl]="clubDataForm">
          
          <ng-template matStepLabel>{{"signub_club_data_header" | translator}}</ng-template>

          <form [formGroup]="clubDataForm" (ngSubmit)="onSubmitClubData()">

            <!-- Field for club name -->
            <div class="form-row">
              <mat-form-field appearance="standard">
                <mat-label>{{"signup_club_name_label" | translator}}</mat-label>
                <input matInput type="text" formControlName="name" required>
              </mat-form-field>
            </div>

            <!-- Field for club description -->
            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"signup_club_description" | translator}}</mat-label>
                <textarea required formControlName="description" rows="3" matInput placeholder="{{'signup_club_description_placeholder' | translator}}"></textarea>
              </mat-form-field>
            </div>

            <!-- Autocomplete field to easily select the category or create new one -->
            <div class="form-row">
              <mat-form-field appearance="standard">
                <mat-label>{{"signup_club_category_label" | translator}}</mat-label>
                <input matInput type="text" [matAutocomplete]="auto" formControlName="category" required>
                <mat-autocomplete #auto>
                  <mat-option *ngFor="let o of filteredCategories | async" [value]="o.name">{{o.name}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <!-- Field and map for the location -->
            <div class="form-row">
              <mat-form-field appearance="standard">
                <mat-label>{{"signup_club_location_label" | translator}}</mat-label>
                <input matInput type="text" formControlName="location" required>
              </mat-form-field>
            </div>

            <!-- Fields for target audience min and max age-->
            <div class="form-row">
              <mat-form-field class="age-field" appearance="standard">
                <mat-label>{{"signup_club_min_age_label" | translator}}</mat-label>
                <input matInput type="number" formControlName="ageMin" required>
              </mat-form-field>
              <mat-form-field class="age-field" appearance="standard">
                <mat-label>{{"signup_club_max_age_label" | translator}}</mat-label>
                <input matInput type="number" formControlName="ageMax" required>
              </mat-form-field>
            </div>

            <!-- Field for target audience genders -->
            <div class="form-row">
              <span id="gender-label">{{"signup_club_gender_label" | translator}}:</span>
              <mat-checkbox formControlName="genderMale">{{"signup_club_gender_male" | translator}}</mat-checkbox>
              <mat-checkbox formControlName="genderFemale">{{"signup_club_gender_female" | translator}}</mat-checkbox>
            </div>

            <!-- Field for club values -->
            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"signup_club_values" | translator}}</mat-label>
                <textarea formControlName="values" rows="3" matInput placeholder="{{'signup_club_values_placeholder' | translator}}"></textarea>
              </mat-form-field>
            </div>

            <!-- Field for club milestones -->
            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"signup_club_milestones" | translator}}</mat-label>
                <textarea formControlName="milestones" rows="3" matInput placeholder="{{'signup_club_milestones_placeholder' | translator}}"></textarea>
              </mat-form-field>
            </div>

            <!-- Field for prices -->
            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"signup_club_prices" | translator}}</mat-label>
                <textarea formControlName="prices" rows="2" matInput placeholder="{{'signup_club_prices_placeholder' | translator}}"></textarea>
              </mat-form-field>
            </div>

            <!-- Field for contact info -->
            <div class="form-row">
              <mat-form-field>
                <mat-label>{{"signup_club_contact" | translator}}</mat-label>
                <textarea formControlName="contact" rows="3" matInput placeholder="{{'signup_club_contact_placeholder' | translator}}"></textarea>
              </mat-form-field>
            </div>

            <span class="photo-header">{{"signub_club_photos_header" | translator}}</span>

            <!-- Picture selector -->
            <app-image-selector></app-image-selector>

            <button mat-button matStepperNext>{{"signup_next_button_title" | translator}}</button>

          </form>

        </mat-step>

      </mat-vertical-stepper>
      
    </mat-tab>

  </mat-tab-group>

</div>