mat-tab-group {
    background-color: white;
}

mat-form-field {
    width: 100%;
}

mat-checkbox {
    margin-right: 16px;
}

.form-row {
    padding-left: 8px;
    padding-right: 8px;
}

.age-field {
    width: 50%;
}

#gender-label {
    display: inline-block;
    margin-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.photo-header {
    padding-left: 8px;
    padding-right: 8px;
}