/* You can add global styles to this file, and also import other style files */

.content {
    max-width: 1000px;
    margin: auto;
    padding-top: 16px;
}

.narrow-content {    
    max-width: 800px;
    margin: auto;
    padding-top: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
