@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$local-activities-primary: mat-palette($mat-orange, 600);
$local-activities-accent:  mat-palette($mat-blue, 900);

// The warn palette is optional (defaults to red).
$local-activities-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$local-activities-theme: mat-light-theme($local-activities-primary, $local-activities-accent, $local-activities-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($local-activities-theme);